{{<main}}
    {{$content}}
<div id="search">
    <form id="searchform" action="@routes.HomeController.homeAction" method="post" name="search">
        <fieldset>
            <legend>Search for flights</legend>
            <label for="leaving">Leaving from</label>
            <input type="text" id="leaving" name="leaving" required/>
            <label for="departing">Departing</label>
            <input type="date" id="departing" name="departing" required/>
            <label for="destination">Going to</label>
            <input type="text" id="destination" name="destination" required/>
            <label for="returning">Returning</label>
            <input type="date" id="returning" name="returning" required/>
            <input type="submit" name="Search" value="Search"/>
        </fieldset>
    </form>
</div>
<div id="offers">
    <h2>Offers</h2>
    <ul>
    {{#offers}}
        <li>
            <span class="offer">
                <span class="offertitle">{{title}}</span>
            </span>
        </li>
    {{/offers}}
    {{^offers}}
        There are no offers available at the moment
    {{/offers}}
    </ul>
</div>
    {{/content}}
{{/main}}
