{{<body}}
{{$content}}
    <div class="headblock">
        <div class="search">
            <form action="/search" method="post" name="search">
                <fieldset>
                    <legend>Search for flights</legend>
                    <label for="leaving">Leaving from</label>
                    <input type="text" id="leaving" name="leaving" required/>
                    <label for="departing">Departing</label>
                    <input type="date" id="departing" name="departing" required/>
                    <label for="destination">Going to</label>
                    <input type="text" id="destination" name="destination" required/>
                    <label for="returning">Returning</label>
                    <input type="date" id="returning" name="returning" required/>
                    <input type="submit" name="Search" value="Search"/>
                </fieldset>
            </form>
        </div>
        {{#mainAdvert}}
            <div class="mainadvert">
                <span class="advice">Advertisement</span>
                <img src="{{assets}}/{{image}}" alt="{{title}}" title="{{title}}">
            </div>
            <div class="spacer"></div>
        {{/mainAdvert}}
    </div>
    {{#offers}}
        <div class="partial-offers">
            <h2>Offers</h2>
            <ul>
                {{#offers}}
                    <li>
                        <span class="offer">
                            <span class="title">{{title}}</span>
                            <img src="{{assets}}/{{image}}" alt="{{title}}" title="{{title}}">
                        </span>
                    </li>
                {{/offers}}
            </ul>
            <a class="more" name="more">More >></a>
        </div>
    {{/offers}}
    {{> fragments/weather}}
{{/content}}
{{/body}}
