{{<body}}
{{$content}}
    {{#news}}
        <div id="news">
            <h2>News</h2>
            <ul>
                {{#news}}
                    <li>
                        <span class="news">
                            <span class="newstitle">@newsItem.headline</span>
                            <img class="newsimage" src="{{assets}}/{{image}}" alt="{{title}}" title="{{title}}">
                        </span>
                    </li>
                {{/news}}
            </ul>
        </div>
    {{/news}}
    {{#offers}}
        <div id="offers">
            <h2>Offers</h2>
            <ul>
                {{#offers}}
                    <li>
                        <span class="offer">
                            <span class="offertitle">{{title}}</span>
                            <img class="offerimage" src="{{assets}}/{{image}}" alt="{{title}}" title="{{title}}">
                        </span>
                    </li>
                {{/offers}}
            </ul>
        </div>
    {{/offers}}
{{/content}}
{{/body}}
