{{<body}}
{{$content}}
    {{#news}}
        <div class="news">
            <h2>News</h2>
            <ul>
                {{#news}}
                    <li>
                        <span class="news-item">
                            <span class="headline">{{headline}}</span>
                            <img src="{{image}}" alt="{{title}}" title="{{title}}">
                            <span class="text">
                                <span class="stand-first">{{standFirst}}</span>
                                <span class="read-more"><a href="{{link}}">Read more ...</a></span>
                            </span>
                        </span>
                    </li>
                {{/news}}
            </ul>
        </div>
    {{/news}}
{{/content}}
{{/body}}
