<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
        <title>getaway - plan your next holiday here</title>
    </head>
    <body>
    <div id="wrapper">
        <div id="banner">
            <span id="logo">getaway . . .</span>
            {{#user}}
                <span id="logoutlink"><a name="logout">logout</a></span>
            {{/user}}
            {{^user}}
                <span id="loginlink"><a name="login">login</a></span>
            {{/user}}
        </div>
        <div class="nav">
            <a href="@routes.HomeController.homeAction">home</a> <a href="@routes.NewsController.newsAction">news</a> <a href="@routes.OffersController.offersAction">offers</a>
        </div>
        <div id="content">
            {{$content}}{{/content}}
        </div>
        <div id="login">
            <div id="formwrapper">
                <form id="loginform" action="@routes.LoginController.login" method="post" name="login">
                    <div id="formerror"></div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required/>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required/>
                    <input type="submit" id="loginsubmit" name="submit" value="Login"/>
                </form>
            </div>
        </div>
        </div>
        <script src="/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="/javascripts/main.js" type="text/javascript"></script>
    </body>
</html>
