{{#adverts}}
    <div id="adverts">
        <ul>
            {{#adverts}}
                <li>
                    <span class="advice">Advertisment</span>
                        <span class="advert">
                            <img class="advertimage" src="{{assets}}/{{image}}" alt="{{title}}" title="{{title}}">
                        </span>
                </li>
            {{/adverts}}
        </ul>
    </div>
{{/adverts}}
