<div class="login">
    <div class="wrapper">
        <form id="loginform" action="/login" method="post" name="login">
            <fieldset>
                <legend>Please login</legend>
                <div class="cancellogin"><a name="cancelLogin" id="logincancel">X</a></div>
                <div class="formerror"></div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required/>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required/>
                <input type="submit" id="loginsubmit" name="submit" value="Login"/>
            </fieldset>
        </form>
    </div>
</div>
