{{#weather}}
    <div class="weather">
        <h2>Weather</h2>
        <h3>{{city}}</h3>
        <ul>
            {{#forecasts}}
                <li>
                    <span class="forecast">
                        <span class="date">{{day}}</span>
                        <span class="details">
                            <img src="http://openweathermap.org/img/w/{{icon}}.png"
                                 alt="{{summary}}" title="{{summary}}"/>
                            <span class="temperatures">
                                <span class="maximum">{{maximum}} &deg;C</span>
                                <span class="minimum">{{minimum}} &deg;C</span>
                            </span>
                        </span>
                    </span>
                </li>
            {{/forecasts}}
        </ul>
    </div>
{{/weather}}
